.tituloPlan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.formularioPlan {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.shadow {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.tablaPlan {
    border-radius: 20px;
}

.contenedorSes {
    margin-top: 7%;
    margin-bottom: 12%;
    margin-left: 40%;
    margin-right: 40%;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    border-radius: 25px;
    background: white;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
}

.formularioSes {
    margin: 5%;
}



@media screen and (max-width: 1180px) {

    /* Cuando la pantalla es m치s peque침a que 768px, cambia los m치rgenes */
    .contenedorSes {
        margin: 5vw;
        /* M치rgenes iguales en todos los lados */
    }
}

