{% extends 'base.html' %}
{% load static %}
{% block contenido %}
<div>
    <h1 class="titCurso" style="text-align: center;">Notas Asignatura</h1>
    <table style="width: 80%; margin-left: 10%; border-radius: 2%;">
        <thead style="background-color: rgb(136, 194, 245); ">
            <th>
                Nombres
            </th>
            <th>
                Nota 1
            </th>
            <th>
                Nota 2
            </th>
            <th>
                Nota 3
            </th>
            <th>
                Nota 4
            </th>
            <th>
                Promedio
            </th>
        </thead>
        <tbody>
            <td>
                Alfredo Torres
            </td>
            <td>
                6.7
            </td>
            <td>
                4.2
            </td>
            <td>
                6.4
            </td>
            <td>
                1.0
            </td>
            <td>
                4,6
            </td>
        </tbody>
        <tbody>
            <td>
                Isaam Ronaldo
            </td>
            <td>
                6.7
            </td>
            <td>
                4.2
            </td>
            <td>
                6.4
            </td>
            <td>
                1.0
            </td>
            <td>
                4,6
            </td>
        </tbody>
        <tbody>
            <td>
                Jorge Enrique
            </td>
            <td>
                6.7
            </td>
            <td>
                4.2
            </td>
            <td>
                6.4
            </td>
            <td>
                1.0
            </td>
            <td>
                4,6
            </td>
        </tbody>
        <tbody>
            <td>
                Andres Santos
            </td>
            <td>
                6.7
            </td>
            <td>
                4.2
            </td>
            <td>
                6.4
            </td>
            <td>
                1.0
            </td>
            <td>
                4,6
            </td>
        </tbody>
    </table>
</div>
<div>
    <a type="button" class="btn" id="btnCurso" style="margin-left: 10%; margin-top: 10px; background-color: mediumseagreen;">Descargar Notas</a>
</div>
{% endblock %}