{% extends 'base.html' %}
{% load static %}
{% block contenido %}
<style>
    /* Estilo personalizado para las notas en rojo */
    .nota-roja {
        color: red;
    }
</style>
<div style="margin-left: 10%; margin-right: 10%;">
    <div>
        <a type="button" class="btn btn-secondary" href="{% url 'sistema_Profe' %}"
            style="background-color: rgb(15,48,74);box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);">Volver ←</a>
        <h1 class="titCurso" style="text-align: center;">Calificar Alumnos</h1>
    </div>

    <div style="padding: 2%;">

        <table class="table table-bordered shadow" >
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Nota 1</th>
                    <th>Nota 2</th>
                    <th>Nota 3</th>
                    <th>Nota 4</th>
                    <th>Nota 5</th>
                    <th>Nota 6</th>
                    <th>Promedio</th>
                    <th>Modificar</th>
                </tr>
            </thead>
            <tbody>
                <form method="POST">
                    {% csrf_token %}
                <!-- Alumno 1 -->
                {% for n in nota %}
                <tr>
                    {% csrf_token %}
                    <td name="id" value="{{n.0}}">{{n.1}}</td>
                    <td name="nota1" contenteditable="true">{{n.2}}</td>
                    <td name="nota2" contenteditable="true">{{n.3}}</td>
                    <td name="nota3" contenteditable="true">{{n.4}}</td>
                    <td name="nota4" contenteditable="true">{{n.5}}</td>
                    <td name="nota5" contenteditable="true">{{n.6}}</td>
                    <td name="nota6" contenteditable="true">{{n.7}}</td>
                    <td>{{ n.8 }}</td>
                    <td> <button type="submit" class="btn" id="btnCurso"
                        style=" margin-bottom: 5%; background-color: rgb(237,123,61);">Guardar Cambios</button></td>

                </tr>
                {% endfor %}
            </form>
            </tbody>
        </table>
        <button type="button" class="btn" id="btnCurso"
            style=" margin-bottom: 5%; background-color: rgb(15,48,74); color: white;">Descargar Notas</button>
    </div>


</div>
{% endblock %}