{% extends 'base.html' %}
{% load static %}
{% block contenido %}


<div class="container-fluid row" >
    <a type="button" class="btn btn-secondary" href="{% url 'sistema_Profe' %}" style="background-color: rgb(15,48,74);box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);">Volver  ←</a>
    <div class="col-md" style="margin-left: 2%; margin-right: 2%;">
        <h2 style="text-align: center; margin-bottom: 6%; margin-top: 5%;">Formulario de Reunión</h2>
        <form class="formularioReunion">
            <div class="mb-3">
                <input type="date" class="form-control" id="fecha" required style="box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);margin: 3%;"placeholder="Fecha de Reunion">
            </div>
            <div class="mb-3">
                <input class="form-control " id="exampleFormControlTextarea1" rows="3"style="box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);margin: 3%;"placeholder="Asunto del Mensaje"></input>
            </div>
            <div class="mb-3">
                <textarea class="form-control " id="exampleFormControlTextarea1" rows="7"style="box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);margin: 3%;" placeholder="Cuerpo del Mensaje"></textarea>
            </div>

            <button type="submit" class="btn btn-primary" style="margin: 2%;">Notificar</button>
        </form>
    </div>
    <div class="col-md">
        <h2 class="titCurso" style="text-align: center; margin-bottom: 6%; margin-top: 5%;">Lista Apoderados</h2>
        <table class="table table-bordered shadow">
            <thead>
                <tr>
                    
                    <th>RUT</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                </tr>
            </thead>
            <tbody>
                {% for a in apoderados %}
                <tr data-toggle="modal" data-target="#alumnoModal">
                    <td>{{ a.0 }}</td>
                    <td>{{ a.1 }}</td>
                    <td>{{ a.5 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>




{% endblock %}