{% extends 'base.html' %}
{% load static %}
{% block contenido %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>

<div style="margin-left: 10%; margin-right: 10%;">
    <div class="row">
        <a type="button" class="btn btn-secondary" href="{% url 'sistema_Profe' %}"
            style="background-color: rgb(15,48,74);box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);">Volver ←</a>
    </div>
    <div>
        <h2 class="text-center">Planificar</h2>
        <i style="margin-right: 5%;"></i>
    </div>
    <button type="button" class="btn btn-primary" id="generarPDF">Generar PDF</button>
    <button type="button" class="btn btn-success" id="agregar">Agregar Semanas</button>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <form class="formularioPlan ">
                    <div style="height: 500px; overflow-y: scroll;" id="inputs-extra">
                        <div class="mb-3">
                        </div>
                </form> 
            </div>
         
        </div>
        <div class="col-md-4">
            <iframe src="{% static 'PDF/Definicion Proyecto APT Fase1.pdf' %}" width="100%" height="90%"
                style="margin-bottom: 2%;"></iframe>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var contador = 3;
        var contadorSemanas = 0; // Nuevo contador para llevar el control de las semanas agregadas

        $("#agregar").click(function () {
            // Incrementar el contador de semanas cada vez que se agrega una semana
            contadorSemanas++;

            // Crear un nuevo campo de entrada
            var nuevoInputHTML =
                '<div class="mb-3">' +
                '<label for="exampleFormControlTextarea' + contador + '" class="form-label" style="font-size: x-large;">Semana ' + contadorSemanas + '</label>' +
                '<div class="mb-3">' +
                '<input class="form-control" style="box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);" id="exampleFormControlnumclase' + contador + '" placeholder="Objetivos">' +
                '</div>' +
                '<div class="mb-3">' +
                '<textarea class="form-control" style="box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);" id="exampleFormControlTextarea' + contador + '" rows="3" placeholder="Descripcion"></textarea>' +
                '</div>' +
                '<div id="inputs-extra-clases' + contador + '"></div>' +
                '</div>';

            // Agregar el nuevo campo de entrada al formulario
            $("#inputs-extra").append(nuevoInputHTML);

            // Verificar si es el momento de agregar un título "Mes 2"
            if (contadorSemanas % 4 === 0) {
                var nuevoTituloHTML =
                    '<div class="mb-3">' +
                    '<label class="form-label" style="font-size: xx-large;">Mes ' + (contadorSemanas / 4 + 1) + '</label>' +
                    '</div>';
                
                // Agregar el nuevo título al formulario
                $("#inputs-extra").append(nuevoTituloHTML);
            }

            // Incrementar el contador
            contador++;
        });
    });
</script>




{% endblock %}