{% extends 'base.html' %}
{% load static %}
{% block contenido %}
<div style="margin-left: 10%; margin-right: 10%;">
    <div class="row">
        <div>
            <h1 class="titCurso" style="text-align: center;">Curso: 8vo A</h1>
            <hr style="border: 1px solid black;">
            <h2>Nombre: Manuel Herrera</h2>
            <h6>Profesor Jefe: Francisco Juillet  </h6>
            <h6>Asignatura: Educacion Fisica</h6>
            <hr style="border: 1px solid black;">

        </div>
        <div>
            <h2 class="titCurso" style="text-align: center; margin-bottom: 2%;">Asignaturas</h2>
            <div class="curso" style="border-radius: 10px;box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); height: 100px;">
                <h5 style="text-align: center;">Matematicas | Profesor: Profesor asignado</h5>
                <div id="interiorCurso" class="btn-group d-flex justify-content-center" style="margin-bottom: 1%;">
                    
                    <a href="{% url 'planificar' %}" type="button" class="btn" id="btnCurso" data-bs-toggle="modal" data-bs-target="#planificacionModal" style="background-color: rgb(15,48,74); color: white;">Revisar Planificación</a>
                    <a href="{% url 'revisar_notas' %}" type="button" class="btn" id="btnCurso" style="background-color: rgb(237,123,61);">Revisar
                        Calificaciones</a>
                </div>
            </div>
            <div class="curso" style="border-radius: 10px;box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); height: 100px;">
                <h5 style="text-align: center;">Matematicas | Profesor: Profesor asignado</h5>
                <div id="interiorCurso" class="btn-group d-flex justify-content-center" style="margin-bottom: 1%;">
                    
                    <a href="{% url 'planificar' %}" type="button" class="btn" id="btnCurso" data-bs-toggle="modal" data-bs-target="#planificacionModal" style="background-color: rgb(15,48,74); color: white;">Revisar Planificación</a>
                    <a href="{% url 'revisar_notas' %}" type="button" class="btn" id="btnCurso" style="background-color: rgb(237,123,61);">Revisar
                        Calificaciones</a>
                </div>
            </div>
            <div class="curso" style="border-radius: 10px;box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); height: 100px;">
                <h5 style="text-align: center;">Matematicas | Profesor: Profesor asignado</h5>
                <div id="interiorCurso" class="btn-group d-flex justify-content-center" style="margin-bottom: 1%;">
                    
                    <a href="{% url 'planificar' %}" type="button" class="btn" id="btnCurso" data-bs-toggle="modal" data-bs-target="#planificacionModal" style="background-color: rgb(15,48,74); color: white;">Revisar Planificación</a>
                    <a href="{% url 'revisar_notas' %}" type="button" class="btn" id="btnCurso" style="background-color: rgb(237,123,61);">Revisar
                        Calificaciones</a>
                </div>
            </div>
            <div class="curso" style="border-radius: 10px;box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); height: 100px;">
                <h5 style="text-align: center;">Matematicas | Profesor: Profesor asignado</h5>
                <div id="interiorCurso" class="btn-group d-flex justify-content-center" style="margin-bottom: 1%;">
                    
                    <a href="{% url 'planificar' %}" type="button" class="btn" id="btnCurso" data-bs-toggle="modal" data-bs-target="#planificacionModal" style="background-color: rgb(15,48,74); color: white;">Revisar Planificación</a>
                    <a href="{% url 'revisar_notas' %}" type="button" class="btn" id="btnCurso" style="background-color: rgb(237,123,61);">Revisar
                        Calificaciones</a>
                </div>
            </div>
<div class="curso" style="border-radius: 10px;box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); height: 100px;">
                <h5 style="text-align: center;">Matematicas | Profesor: Profesor asignado</h5>
                <div id="interiorCurso" class="btn-group d-flex justify-content-center" style="margin-bottom: 1%;">
                    
                    <a href="{% url 'planificar' %}" type="button" class="btn" id="btnCurso" data-bs-toggle="modal" data-bs-target="#planificacionModal" style="background-color: rgb(15,48,74); color: white;">Revisar Planificación</a>
                    <a href="{% url 'revisar_notas' %}" type="button" class="btn" id="btnCurso" style="background-color: rgb(237,123,61);">Revisar
                        Calificaciones</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <hr style="border: 1px solid black;text-align: center;">
        <H2 style="text-align: center;">PAGAR MATRICULA</H2>
        <H6 style="text-align: center;">Cancela tu matricula facil y desde cualquier lugar.</H6>
        <form style="text-align: center;" name='rec20108_btn1' method='post' action='https://www.webpay.cl/backpub/external/form-pay'>
            <input type='hidden' name='idFormulario' value='99521' />
            <input type='hidden' name='monto' value='1000' readonly />
            <input type='image' title='Imagen' name='button1' src='https://www.webpay.cl/assets/img/boton_webpaycl.svg' value='Boton 1' />
        </form>
      </div>
</div>
</div>



<div class="modal fade" id="planificacionModal" tabindex="-1" aria-labelledby="planificacionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content" style=" height: 900px;">
        <div class="modal-header">
          <h5 class="modal-title" id="pdfModalLabel">Visor de PDF</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <!-- Contenedor del visor de PDF -->
          <iframe src="{% static 'PDF/Definicion Proyecto APT Fase1.pdf' %}" width="100%" height="90%"
            style="margin-bottom: 2%;"></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}