{% extends 'base.html' %}
{% load static %}
{% block contenido %}
<div style="margin-left: 10%; margin-right: 10%;">
  <div class="dropdown">
    <button style="background-color: rgb(15,48,74);box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);" class="btn btn-secondary btn-block" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Menu de Administración   ↓
    </button>    
    <ul class="dropdown-menu">
      <li style="list-style-type: none; margin-bottom: 4%; margin-left: 5%; margin-right: 0.2%;"><a
          style="text-decoration: none; color: black;" href="{% url 'admin_apoderado' %}">Administrar Apoderados</a>
      </li>
      <hr>
      <li style="list-style-type: none; margin-bottom: 4%; margin-left: 5%; margin-right: 0.2%;"><a
          style="text-decoration: none; color: black; " href="{% url 'admin_profe' %}">Administrar Profesores</a></li>
      <hr>
      <li style="list-style-type: none; margin-bottom: 4%; margin-left: 5%; margin-right: 0.2%;"><a
          style="text-decoration: none; color: black; " href="{% url 'admin_alum' %}">Administrar Alumnos</a></li>
      <hr>
      <li style="list-style-type: none; margin-bottom: 4%; margin-left: 5%; margin-right: 0.2%;"><a
          style="text-decoration: none; color: black; " href="{% url 'admin_user' %}">Generar Administrador</a></li>
      <hr>
      <li style="list-style-type: none; margin-bottom: 4%; margin-left: 5%; margin-right: 0.2%;"><a
          style="text-decoration: none; color: black; " href="{% url 'control_plan' %}">Control de Planificaciones</a>
      </li>
      <hr>
      <li style="list-style-type: none; margin-bottom: 4%; margin-left: 5%; margin-right: 0.2%;"><a
          style="text-decoration: none; color: black; " href="{% url 'admin_evento' %}">Gestionar Eventos</a></li>
      <hr>
      <li style="list-style-type: none; margin-bottom: 4%; margin-left: 5%; margin-right: 0.2%;"><a
          style="text-decoration: none; color: black; " href="{% url 'dashboards' %}">Dashboards</a></li>
    </ul>
  </div>
  <div>
    <div class="row">
      <div>
        <h2 class="titCurso" style="text-align: center; margin-bottom: 1%;">Crear Nuevos Eventos</h2>
        <form class="formularioReunion row row-cols-md-2" method="POST" enctype="multipart/form-data"
          style="margin-bottom: 5%; height: 300px;">
          {% csrf_token %}
          <div class="mb3">
            <textarea type="text-area" class="form-control " style="box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5) ;margin-bottom: 5%;" id="descripcion" name="descripcion" rows="3" placeholder="Descripción del evento"></textarea>
          </div>
          <div class="mb-3">
            <input class="form-control" type="file" id="foto" name="foto" style="box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5) ;margin-bottom: 5%;">
          </div>
          <div class="mb-3">
            <select name="profe" class="form-select" style="box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5) ;margin-bottom: 5%;">
              <option>Selecciona PROFESOR...</option>
              {% for p in profesor %}
              <option value="{{ p.0 }}">{{ p.1 }}</option>
              {% endfor %}
            </select>
          </div>
          <div></div>
          <button type="submit" class="btn btn-success">Guardar</button>
          <button class="btn btn-primary">Modificar</button>
        </form>
      </div>
      <div>
        <h2 class="titCurso" style="text-align: center; ">Lista eventos</h2>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Nombre Profesor</th>
              <th>Descripcion</th>
              <th>Foto</th>
            </tr>
          </thead>
          <tbody>
            {% for e in eventos %}
            <tr>
              <td>{{ e.data.0 }}</td>
              <td>{{ e.data.1 }}</td>
              <td>
                {% if e.imagen %}
                <img src="data:imagen/jpeg;base64,{{ e.imagen }}" class="card-img-top" alt="..." height="100"
                  width="100">
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>

        </table>


      </div>
    </div>
  </div>
</div>




{% endblock %}