{% extends 'base.html' %}
{% load static %}
{% block contenido %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<div style="margin-left: 10%; margin-right: 10%;">
  <div class="dropdown">
    <button style="background-color: rgb(15,48,74);box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);"
      class="btn btn-secondary btn-block" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Menu de Administración ↓
    </button>
    <ul class="dropdown-menu">
      <li style="list-style-type: none; margin-bottom: 4%; margin-left: 5%; margin-right: 0.2%;"><a
          style="text-decoration: none; color: black;" href="{% url 'admin_apoderado' %}">Administrar Apoderados</a>
      </li>
      <hr>
      <li style="list-style-type: none; margin-bottom: 4%; margin-left: 5%; margin-right: 0.2%;"><a
          style="text-decoration: none; color: black; " href="{% url 'admin_profe' %}">Administrar Profesores</a></li>
      <hr>
      <li style="list-style-type: none; margin-bottom: 4%; margin-left: 5%; margin-right: 0.2%;"><a
          style="text-decoration: none; color: black; " href="{% url 'admin_alum' %}">Administrar Alumnos</a></li>
      <hr>
      <li style="list-style-type: none; margin-bottom: 4%; margin-left: 5%; margin-right: 0.2%;"><a
          style="text-decoration: none; color: black; " href="{% url 'admin_user' %}">Generar Administrador</a></li>
      <hr>
      <li style="list-style-type: none; margin-bottom: 4%; margin-left: 5%; margin-right: 0.2%;"><a
          style="text-decoration: none; color: black; " href="{% url 'control_plan' %}">Control de Planificaciones</a>
      </li>
      <hr>
      <li style="list-style-type: none; margin-bottom: 4%; margin-left: 5%; margin-right: 0.2%;"><a
          style="text-decoration: none; color: black; " href="{% url 'admin_evento' %}">Gestionar Eventos</a></li>
      <hr>
      <li style="list-style-type: none; margin-bottom: 4%; margin-left: 5%; margin-right: 0.2%;"><a
          style="text-decoration: none; color: black; " href="{% url 'dashboards' %}">Dashboards</a></li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-13">
      <h2 class="titCurso" style="text-align: center; margin-bottom: 1%;">Administrar Apoderados</h2>
      <form class="formularioApoderado row row-cols-md-2" method="POST" style="margin-bottom: 5%;">
        {% csrf_token %}
        <div class="mb-3">
          <input type="text" class="form-control rut" name="rut" placeholder="Rut sin puntos ni digito verificador"
            required style="box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); margin-bottom: 5%;">
        </div>
        <div class="mb-3">
          <input type="text" class="form-control  " id="dv" name="dv" placeholder="Digito verificador"
            style="box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); margin-bottom: 5%;">
        </div>

        <div class="mb-3">
          <input class="form-control  " id="nombre" name="nombre"
            style="box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); margin-bottom: 5%;" placeholder="Nombre">
        </div>

        <div class="mb-3">
          <input class="form-control  " id="apellido" name="apellido"
            style="box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); margin-bottom: 5%;" placeholder="Apellido">
        </div>

        <div class="mb-3">
          <input class="form-control  " id="telefono" name="telefono"
            style="box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); margin-bottom: 5%;" placeholder="Numero Telefonico">
        </div>

        <div class="mb-3">
          <input class="form-control  " id="direccion" name="direccion"
            style="box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); margin-bottom: 5%;" placeholder="Direccion">
        </div>

        <div class="mb-3">
          <select name="comuna" class="form-select  "
            style="box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); margin-bottom: 5%;">
            <option>Selecciona COMUNA...</option>
            {% for co in comuna %}
            <option value="{{ co.0 }}">{{ co.1 }}</option>
            {% endfor %}
          </select>
        </div>

        <div disabled class="mb-3">
          <select name="rol" class="form-select  "
            style="box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); margin-bottom: 5%;">
            <option value="3"  >Apoderado</option>
          </select>
        </div>
        <button type="submit" class="btn btn-success" name="guardar"  style="margin-bottom: 10px; display: block; width: 100%;">Guardar</button>
      </form>

    <div>
      <h2 class="titCurso" style="text-align: center;">Lista Apoderados</h2>
      <table class="table table-bordered shadow">
        <thead>
          <tr style="color: rgb(15,48,74) ;">
            <th>RUT</th>
            <th>Nombre Completo</th>
            <th>Numero Telefonico</th>
            <th>Direccion</th>
            <th>Comuna</th>
            <th>Correo Electronico</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for ap in apoderados %}

          <tr data-toggle="modal" data-target="#alumnoModal">
            <td><a href="#" class="enlaceTexto">{{ ap.0 }}</a></td>
            <td>{{ ap.1 }}</td>
            <td>{{ ap.2 }}</td>
            <td>{{ ap.3 }}</td>
            <td>{{ ap.4 }}</td>
            <td>{{ ap.5 }}</td>
            <td>
              <a onclick="confirmarEliminar('{{ap.0}}')" class="btn btn-danger"
              style="margin-bottom: 10px;">Eliminar</a>

              <button onclick="abrir_modal_edicion('{% url 'admin_apoderadoModi' '{{ap.0}}' %}')"  class="btn btn-primary">Modificar</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>

        <script>
          document.addEventListener("DOMContentLoaded", function () {
            var enlacesTexto = document.querySelectorAll(".enlaceTexto");
            var formulario = document.querySelector(".formularioApoderado");

            enlacesTexto.forEach(function (enlace) {
              enlace.addEventListener("click", function (event) {
                event.preventDefault();

                // Obtiene los valores de la fila
                var rut = this.textContent;
                var nombre = this.parentNode.nextElementSibling.textContent;
                var telefono = this.parentNode.nextElementSibling.nextElementSibling.textContent;
                var direccion = this.parentNode.nextElementSibling.nextElementSibling.nextElementSibling.textContent;

                // Llena los campos del formulario con los valores
                formulario.querySelector("#rut").value = rut;
                formulario.querySelector("#nombre").value = nombre;
                formulario.querySelector("#telefono").value = telefono;
                formulario.querySelector("#direccion").value = direccion;
              });
            });
          });
        </script>
        <script>
          function confirmarEliminar(p_run) {
            swal.fire({
              title: '¿Estás seguro?',
              text: "El apoderado será eliminado de la base de datos",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#4CAF50',
              cancelButtonColor: '#f44336',
              confirmButtonText: 'Sí',
              cancelButtonText: 'No',
              reverseButtons: true,
              allowOutsideClick: false
            }).then((result) => {
              if (result.isConfirmed) {
                swal.fire({
                  title: '¡Eliminado!',
                  text: 'El apoderado ha sido eliminado de la base de datos',
                  icon: 'success',
                  allowOutsideClick: false,
                  confirmButtonColor: '#4CAF50'
                }).then(function () {
                  window.location.href = "/borrar_apoderado/" + p_run + "/";
                })
              } else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
              ) {
                swal.fire({
                  title: 'Cancelado',
                  text: 'El apoderado no ha sido eliminado',
                  icon: 'error',
                  confirmButtonColor: '#4CAF50'
                })
              }
            })
          }
        </script>

        <div class="modal fade" id="edicion" roler="dialog">
        </div>
        {% block extrajs %}
        <script type="text/javascript">
          var $ = jQuery.noConflict();
          function abrir_modal_edicion(url) {
            $('#edicion').load(url, function () {
              $(this).modal('show');
            });
          }
        </script>
        {% endblock extrajs%}


      </table>


    </div>
  </div>
</div>
</div>





{% endblock %}