{% extends 'base.html' %}
{% load static %}
{% block contenido %}

<div style="margin-left: 10%; margin-right: 10%;">
    <div class="dropdown">
        <button style="background-color: rgb(15,48,74);box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);"
            class="btn btn-secondary btn-block" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Menu de Administración ↓
        </button>
        <ul class="dropdown-menu">
            <li style="list-style-type: none; margin-bottom: 4%; margin-left: 5%; margin-right: 0.2%;"><a
                    style="text-decoration: none; color: black;" href="{% url 'admin_apoderado' %}">Administrar
                    Apoderados</a>
            </li>
            <hr>
            <li style="list-style-type: none; margin-bottom: 4%; margin-left: 5%; margin-right: 0.2%;"><a
                    style="text-decoration: none; color: black; " href="{% url 'admin_profe' %}">Administrar
                    Profesores</a></li>
            <hr>
            <li style="list-style-type: none; margin-bottom: 4%; margin-left: 5%; margin-right: 0.2%;"><a
                    style="text-decoration: none; color: black; " href="{% url 'admin_alum' %}">Administrar Alumnos</a>
            </li>
            <hr>
            <li style="list-style-type: none; margin-bottom: 4%; margin-left: 5%; margin-right: 0.2%;"><a
                    style="text-decoration: none; color: black; " href="{% url 'admin_user' %}">Generar
                    Administrador</a></li>
            <hr>
            <li style="list-style-type: none; margin-bottom: 4%; margin-left: 5%; margin-right: 0.2%;"><a
                    style="text-decoration: none; color: black; " href="{% url 'control_plan' %}">Control de
                    Planificaciones</a>
            </li>
            <hr>
            <li style="list-style-type: none; margin-bottom: 4%; margin-left: 5%; margin-right: 0.2%;"><a
                    style="text-decoration: none; color: black; " href="{% url 'admin_evento' %}">Gestionar Eventos</a>
            </li>
            <hr>
            <li style="list-style-type: none; margin-bottom: 4%; margin-left: 5%; margin-right: 0.2%;"><a
                    style="text-decoration: none; color: black; " href="{% url 'dashboards' %}">Dashboards</a></li>
        </ul>
    </div>
    <iframe title="PBI_Colegio (1)" width="1500" height="800" src="https://app.powerbi.com/reportEmbed?reportId=32bd2994-6624-4b7a-bd12-e5d04adb9229&autoAuth=true&ctid=72fd0b5a-8a6a-4cff-89f6-bde961f7e250" frameborder="0" allowFullScreen="true"></iframe>
</div>

{% endblock %}