{% extends 'base.html' %}
{% load static %}
{% block contenido %}



<!--Titulo Nombre Colegio-->
<!--Imagen del colegio-->
<div>
    <img src="{% static 'img/Colegio3.jpeg' %}" alt="Imagen Colegio" width="100%" height="85%">
</div>


<!--Informacion del colegio-->
<div class="informacionCole">
    <h2 class="acerca">EVENTOS ESCOLARES</h2>
</div>


<div class="eve">
    <div class="row row-cols-1 row-cols-md-4 g-5 eventos">
        {% for e in eventos %}
        <div class="col">
            <div class="card h-100">
                <img src="data:imagen/jpeg;base64,{{ e.imagen }}" class="card-img-top" alt="..." height="350"
                    style="border-radius: 15px;">
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}