{% extends 'base.html' %}
{% load static %}
{% block contenido %}



<!--Titulo Nombre Colegio-->
<!--Imagen del colegio-->
<div style="position: relative; display: inline-block;">
    <img src="{% static 'img/Colegio3.jpeg' %}" alt="" width="100%" height="100%">
    <div style="position: absolute; top: 0; right: 0; width: 40%; height: 100%; background-color: rgba(37, 37, 37, 0.7); padding: 20px;">
        <h2 style="color: white; align-items: center;text-align: justify">SOBRE NOSOTROS</h2>
        <p style="color: white; align-items: center; text-align: justify;">El Colegio San Carlos, fundado en 1960, es una institución educativa comprometida con la excelencia académica y la formación integral de sus estudiantes. Nuestro enfoque se centra en valores como el respeto, la responsabilidad y la empatía. Contamos con un equipo de profesores apasionados que fomentan el aprendizaje y el desarrollo de habilidades.</p>
    </div>
</div>


<!--Informacion del colegio-->
<div class="informacionCole">
    <h2 class="acerca" style="margin-top: 5%;">EVENTOS ESCOLARES</h2>
    <hr style="border: 1px solid black;">
</div>


<div class="eve">
    <div class="row row-cols-1 row-cols-md-3 g-5 eventos">
        {% for e in eventos %}
        <div class="col">
            <div class="card h-100">
                <img src="data:imagen/jpeg;base64,{{ e.imagen }}" class="card-img-top" alt="..." height="350"
                    style="border-radius: 15px;">
                    <div style="position: absolute; top: 0; right: 0; width: 100%; height: 100%; background-color: rgba(37, 37, 37, 0.7); padding: 20px; border-radius: 10px;">
                        <p style="color: white; align-items: center; text-align: justify;">{{ e.data.1 }}</p>
                    </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div style="display: flex; justify-content: center; align-items: center; height: 50vh;">
    <img src="{% static 'img/SAN-CARLOS-COMUNICA.jpg' %}" alt="" style="max-height: 200px;">
</div>

{% endblock %}